<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Firm</h1>
<div th:each="firm: ${firms}">
    <span th:text="'id: ' + ${firm.id}"></span>
    <span th:text="'name: ' + ${firm.name}"></span>
    <span th:text="'create time: ' + ${firm.create_time}"></span>
</div>
<a href="/firm">Add firm</a>
<!--<form action="#" th:action="@{/firm_list}" th:object="${firm_to_delete}" method="post">-->
    <!--<p>Usun firme: <input type="text" th:field="*{firm_to_delete.id}" /></p>-->
    <!--<a th:href="@{'/users/delete/'${firm_to_delete.id}}"><span>Delete</span></a>-->
<!--</form>-->

</body>
</html>