<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="#" th:action="@{/term}" th:object="${termForm}" method="post">
    <table>
        <tr>
            <td>Employee_id:</td>
            <td><input type="text" th:field="*{employee_id}" /></td>
        </tr>
        <tr>
            <td>Day_id:</td>
            <td><input type="text" th:field="*{day_id}" /></td>
        </tr>
        <tr>
            <td>Time begin:</td>
            <td><input type="text" th:field="*{begin_time}" /></td>
        </tr>
        <tr>
            <td>Time end:</td>
            <td><input type="text" th:field="*{end_time}" /></td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>

<!--Jak korzystac z Thymeleaf-->
<!-- th:aaction="@{/name}" - metoda="post" ktora ma zostac wykonana z objectControllers-->
<!-- -->
<!-- -->
<!-- -->